[submodule "Erick Cardenas Bioinformatics scripts"]
	path = Bioinformatic_scripts
	url = https://github.com/carden24/Bioinformatic_scripts.git

[submodule "SIP-PLFA"]
	path = SIP-PLFA
	url = https://github.com/Roli-Wilhelm/SIP-PLFA.git
[submodule "Scanning_for_CAZymes"]
	path = Scanning_for_CAZymes
	url = https://github.com/Roli-Wilhelm/Scanning_for_CAZymes.git
[submodule "Get_Homologues_for_Pathway_tools"]
	path = Get_Homologues_for_Pathway_tools
	url = https://github.com/Roli-Wilhelm/get_homologues_to_pathway-tools.git
[submodule "Read_mapping_to_pangenome_matrix"]
	path = Read_mapping_to_pangenome_matrix
	url = https://github.com/Roli-Wilhelm/read_mapping_to_pangenome_matrix.git
[submodule "BackBlast_gene_cluster_finder"]
	path = BackBlast_gene_cluster_finder
	url = https://github.com/LeeBergstrand/BackBLAST-Gene-Cluster-Finder.git
[submodule "Phylogenetic_tree_building"]
	path = Phylogenetic_tree_building
	url = https://github.com/LeeBergstrand/Phylogenetic-Tree-Building.git
[submodule "Genbank_Downloaders"]
	path = Genbank_Downloaders
	url = https://github.com/LeeBergstrand/Genbank-Downloaders.git
